.s3 {
    font-size: 21px;
    font-family: PTSans-Narrow_2k;
    color: #727376;
  }
  .t3_2 {
    left: 350px;
    bottom: 999px;
    letter-spacing: 0.09px;
    word-spacing: -0.24px;
  }
  .t8_2 {
    left: 272px;
    bottom: 827px;
    letter-spacing: 0.13px;
    word-spacing: 0.01px;
  }
  .t9_2 {
    left: 405px;
    bottom: 792px;
    letter-spacing: 0.11px;
    word-spacing: 0.03px;
  }
  .ta_2 {
    left: 351px;
    bottom: 758px;
    letter-spacing: 0.1px;
    word-spacing: 0.06px;
  }
  .s4 {
    font-size: 28px;
    font-family: PTSans-NarrowBold_2l;
    color: #10828D;
  }
  .tb_2 {
    left: 365px;
    bottom: 660px;
    letter-spacing: -0.37px;
    word-spacing: -0.14px;
  }
  .t14_2 {
    left: 369px;
    bottom: 721px;
    letter-spacing: 0.02px;
    word-spacing: -0.06px;
  }
  .t7_2 {
    left: 425px;
    bottom: 861px;
    letter-spacing: 0.15px;
  }
  .t6_2 {
    left: 265px;
    bottom: 896px;
    letter-spacing: 0.05px;
    word-spacing: -0.19px;
  }
  .t5_2 {
    left: 344px;
    bottom: 930px;
    letter-spacing: 0.11px;
    word-spacing: -0.17px;
  }
  .t4_2 {
    left: 359px;
    bottom: 964px;
    letter-spacing: 0.02px;
    word-spacing: -0.17px;
  }
  .t {
    transform-origin: bottom left;
    z-index: 2;
    position: absolute;
    white-space: pre;
    overflow: visible;
    line-height: 1.5;
  }
  .t1_2 {
    left: 257px;
    bottom: 1059px;
    letter-spacing: -0.01px;
    word-spacing: 0.12px;
  }
  .t {
    transform-origin: bottom left;
    z-index: 2;
    position: absolute;
    white-space: pre;
    overflow: visible;
    line-height: 1.5;
  }
  .t2_2 {
      left: 341px;
      bottom: 1035px;
      letter-spacing: 0.18px;
    }
    .t {
      transform-origin: bottom left;
      z-index: 2;
      position: absolute;
      white-space: pre;
      overflow: visible;
      line-height: 1.5;
    }
    .s9 {
    font-size: 17px;
    font-family: Roboto-Regular_2h;
    color: #000;
  }
  .tn_2 {
    left: 196px;
    bottom: 531px;
    letter-spacing: -0.13px;
    word-spacing: 0.05px;
  }
  .to_2 {
    left: 197px;
    bottom: 501px;
    letter-spacing: -0.13px;
    word-spacing: 0.05px;
  }
  .tp_2 {
    left: 164px;
    bottom: 471px;
    letter-spacing: -0.13px;
    word-spacing: 0.04px;
  }
  .tj_2 {
    left: 198px;
    bottom: 561px;
    letter-spacing: -0.13px;
    word-spacing: 0.05px;
  }
  .tl_2 {
    left: 449px;
    bottom: 604px;
    letter-spacing: -0.05px;
    word-spacing: -0.01px;
  }
  .s7 {
    font-size: 17px;
    font-family: Roboto-Regular_2h;
    color: #373435;
  }
  .tf_2 {
    left: 608px;
    bottom: 532px;
    letter-spacing: -0.18px;
    word-spacing: 0.09px;
  }
  .tg_2 {
    left: 628px;
    bottom: 498px;
    letter-spacing: -0.14px;
    word-spacing: 0.06px;
  }
  .te_2 {
    left: 629px;
    bottom: 564px;
    letter-spacing: -0.14px;
    word-spacing: 0.06px;
  }
  .tm_2 {
    left: 617px;
    bottom: 604px;
    letter-spacing: -0.08px;
    word-spacing: 0.02px;
  }
  .tq_2 {
    left: 448px;
    bottom: 562px;
    letter-spacing: -0.15px;
  }
    .sa {
    font-size: 20px;
    font-family: Roboto-Regular_2h;
    color: #10828D;
  }
  .sb {
    font-size: 18px;
    font-family: Roboto-Regular_2h;
    color: #727376;
  }
  .tt_2 {
    left: 362px;
    bottom: 255px;
    letter-spacing: 0.15px;
    word-spacing: 0.02px;
  }
  .tu_2 {
    left: 519px;
    bottom: 255px;
    letter-spacing: 0.18px;
  }
  .tv_2 {
    left: 383px;
    bottom: 218px;
    letter-spacing: 0.2px;
  }
  .tw_2 {
    left: 349px;
    bottom: 181px;
    letter-spacing: 0.17px;
  }
  .tx_2 {
    left: 349px;
    bottom: 146px;
    letter-spacing: 0.17px;
  }
  .tz_2 {
    left: 545px;
    bottom: 232px;
  }
  .t12_2 {
    left: 533px;
    bottom: 147px;
  }
  .t13_2 {
    left: 533px;
    bottom: 111px;
  }
  .ty_2 {
    left: 383px;
    bottom: 113px;
    letter-spacing: 0.2px;
  }
  .t10_2 {
    left: 533px;
    bottom: 218px;
  }
  .t11_2 {
    left: 533px;
    bottom: 183px;
  }
  .tk_2 {
    left: 230px;
    bottom: 603px;
    letter-spacing: -0.05px;
    word-spacing: -0.01px;
  }
    .pg2Overlay {
                  background-image: url("2.svg");
  
              }
  
              .text-container {
                  white-space: pre;
              }
  
              .t1_2 {
                  font-size: 41px;
                  font-family: Roboto-Regular_2h;
                  color: #000;
  
              }
              #objectinpdf2{
                width:909px; height:1286px;  z-index: 0;
              }
              #pg2Overlay{
                width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0);
              }
              #p2{
                overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px;
              }